@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.margin-around {
  width: 82%;
  margin: 0 auto;
}

/* nav ------ */

nav {
  /*background-color: rgb(151, 111, 0);*/
  height: 60px;
}
.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
nav > ul > li,
a {
  display: inline;
  font-family: "Cairo", sans-serif;
  font-size: large;
}
.logo {
  margin-top: 15px;
  display: inline-block;
  height: 45px;
  width: 170px;
  overflow: hidden;
}
.logo > img {
  height: 41px;
  width: 170px;
}
/* top  part *********************/
.chield-1 {
  height: 100vh;
  background-image: url("../IMG/background-div-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* fo r perfect text */
.perfect {
  margin-top: 100px;
  font-family: "Cairo", sans-serif;
  font-size: 80pt;
  color: #fff;
  line-height: 100px;
  margin-bottom: 5px;
  font-weight: 700;
}
/*for gum text */
.gum {
  line-height: 100px;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 80pt;
  color: #00ffbc;
}
/* for text under gym word */
.best-text {
  margin-top: 20px;
  line-height: 30px;
  font-family: "Cairo", sans-serif;
  font-size: 18pt;
  font-weight: 400;
  color: #fff;
  border-left: #00ffbc 4px solid;
  padding-left: 7px;
  border-radius: 3px;
}
.reg-button {
  margin-top: 20px;
  padding: 3px 15px;
  color: #00ffbc;
  border: 4px solid #00ffbc;
  background-color: #00ffbb00;
  font-family: "Cairo", sans-serif;
  font-size: 12pt;
  font-weight: 700;
  border-radius: 30px;
}
.reg-button:hover {
  background-color: #00ffbc;
  color: #fff;
  cursor: pointer;
  transition: 0.8s;
}
/* child 2  ***************************************************/
.chield-2 {
  height: 95vh;
  background-color: #071812;
  background-image: url("../IMG/man-lifts-weght.png");
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: 95% 100%;
  width: 100%;
}
.chield-2 > .left > .perfect {
  font-size: 40pt;
  font-style: italic;
  line-height: 60px;
}
.chield-2 > .left > .perfect > span {
  color: #00ffbc;
}
.chield-2 > .left > .perfect::after {
  content: "";
  display: block;
  width: 140px;
  height: 5px;
  background: #00ffbc;
  border-radius: 4px;
}
.chield-2 > .left > .artic,
.chield-3 > .right > .artic {
  margin-top: 50px;
  color: #fff;
  border: none;
  width: 45%;
  font-size: 15pt;
  line-height: 20px;
}
.chield-2 > .left > .reg-button,
.chield-3 > .right > .reg-button {
  padding: 5px 30px;
}
/* child 3 ***************************************************/
.chield-3 {
  height: 100vh;
  background-image: url("../IMG/background-div-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.chield-3 > .right {
  margin-right: 8%;
  margin-top: 17%;
  text-align: center;
  float: right;
  width: 50%;
}
.chield-3 > .right > .perfect,
.chield-4 > .left > .perfect {
  margin-top: 0;
  font-size: 40pt;
  line-height: 60px;
}
.chield-3 > .right > .perfect > span {
  color: #00ffbc;
}
.chield-3 > .right > .artic {
  width: 100%;
  /* margin-left: 10%; */
  padding: 0 20%;
  /* margin-left: 100px; */
  font-size: 14pt;
  line-height: 22px;
  /* width: 430px; */
}
.chield-3 > .right > .artic > span {
  margin-top: 15px;
  display: block;
}
/* child 4 .................................... */
.chield-4 {
  height: 45vh;
  background-color: #071812;
  background-image: url("../IMG/weght.png");
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: 95% 100%;
  width: 100%;
}
.chield-4 > .left > .perfect {
  color: #00ffbc;
  margin-top: 30px;
}
.chield-4 > .left > p {
  border: none;
  width: 70%;
  font-size: 12pt;
  line-height: 22px;
  margin-bottom: 30px;
}
.chield-4 > .left > p > span {
  display: block;
  margin-top: 15px;
}
footer {
  padding: 0;
  height: 10vh;
  background-color: #020a07;
  margin: 0px;
}
footer > .perfect {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15pt;
  color: #00ffbc;
  line-height: 22px;
}
footer > p {
  color: #fff;
}
footer > p > span {
  margin-right: 30px;
  font-family: "Cairo", sans-serif;
  line-height: 22px;
}
footer > p > span:last-child {
  float: right;
}
/* phone screeen   */

@media screen and (max-width: 900px) {
  .chield-3 > .right {
    width: 100%;
    margin: 50px auto;
  }
  .chield-1 {
    height: 550px;
    background-position: center;
  }
  .chield-1 > .margin-around > .perfect,
  .chield-1 > .margin-around > .gum {
    font-size: 40pt;
    line-height: 50px;
  }
  .reg-button {
    font-size: 10pt;
    border: 2px #00ffbc solid;
  }
  .chield-1 > .margin-around > .best-text,
  .chield-2 > .left > .best-text,
  .chield-3 > .right > .artic,
  .chield-4 > .left > p {
    font-size: 11pt;
  }
  .chield-4 > .left > p {
    width: 100%;
  }
  .chield-3 > .right > .artic {
    text-align: center;
    width: 100%;
  }
  .chield-2 > .left > .artic {
    width: 100%;
    margin-right: 0;
  }
  .chield-3 > .right > .perfect,
  .chield-2 > .left > .perfect {
    font-size: 20pt;
    line-height: 10px;
  }
  .chield-2 {
    height: 700px;
    background-size: auto 35%;
    background-position: 50% 100%;
    width: 100%;
  }
  .chield-3 {
    height: 350px;
  }
  .chield-1 > .margin-around > nav > ul {
    display: none;
  }
  .chield-4 {
    height: 500px;
    background-size: auto 30%;
    background-position: 50% 95%;
  }
  .logo > img {
    height: 33px;
    width: 135px;
  }
  /* footer {
        height: 200px;
    } */
}
.navbar-links {
  float: right;
  display: inline-block;
  height: 100%;
}
.navbar-links ul {
  float: right;
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}
.navbar-links li:hover {
  border-bottom: #00ffbc solid 3px;
  transition: 0.8s;
  cursor: pointer;
}
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;

    flex-direction: column;
  }
  .navbar-links ul li {
    background-color: #071812;
    z-index: 10;

    text-align: center;
  }
  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}

/* Background Styles Only */

.side-links {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.side-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  width: 180px;
  padding: 10px 0;
  border-radius: 10px;
}
